@font-face{
    font-family: 'Roboto';
    src: url("../assets/fonts/Roboto-Regular.ttf") format('truetype');
}
@font-face{
    font-family: 'Roboto-light';
    src: url("../assets/fonts/Robotolight.ttf") format('truetype');
}
@font-face{
    font-family: 'Roboto-medium';
    src: url("../assets/fonts/Robotomedium.ttf") format('truetype');
}

